:root {
  --primary-color: #F06543; /* Tomato */
  /* --primary-color: #D65108; Syracuse Red Orange */
  --secondary-color: #3F220F; /* Bistre*/
  --alternate-color: #820263; /*Byzantium */
  /* --alternate-color: #690375; Purple */
  /* --alternate-color: #63C132; Kelly green */
  /* --alternate-color: #4E4187; Ultra Violet */
  --page-color: #FDF0D5; /*Papaya whip*/
}

html, body, #root, main {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--page-color);
  color: var(--alternate-color);
  height: 100%;
}

/* header */
header {
  border: 1px solid black;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 10px
}

header a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 30px;

}

header li {
  list-style-type: none;

}

#ib-h1 {
  color: var(--page-color);
  font-size: 40px;
}

.active {
  color: var(--alternate-color)
}

/* ------------------------------------------------------- */
/* portfolio picture */
#ib {
  width: 200px;
  /* height: 200px; */
  max-width: max-content;
  /* border-radius: 50%; */
}



/* ------------------------------------------------------ */
/* Contact Form */
#contactForm {
  padding: 15px;
  /* border: 10px solid black; */
  color: black;
}

#message {
  resize: none;
}

#submitButton {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

#submitButton :hover {
  cursor: not-allowed;
  color: white;
  background-color: yellow;
}


/* -------------------------------------- */
/* Icon */
#githubIcon {
  background-image: url('./assets/GitHub-Logos/GitHub_Logo.png');
  /* background: url('./assets/ib.jpg'); */
  /* background-size: 50px; */
  /* background-position: center; */
  height: 40px;
  width: 60px;
  display: block;
  color: white;
  /* border: 10px solid black; */
}
/* ------------------------------------------------------ */
/* Portfolio */
.portfolio div {
  border: 2px solid white;
  margin: 10px;
  padding: 10px;
}

.portfolio-image {
  width: 90%;
}

.portfolio-image :hover {
  background-color: white;
  cursor: pointer;
}

.github-icon {
  display: none;
}

.project:hover .github-icon{
  display: block;
}

/* ------------------------------------------------------ */
/* Resume */
#resume {
  font-size: medium;
  border: none;
  background-color: transparent;
  color: var(--primary-color);
}

.resume-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 30px;
}

/* ------------------------------------------------------ */
/* Footer */
footer {
  background-color: var(--alternate-color);
  color: white;
  /* padding: 10px; */
  text-align: center;
  /* box-shadow: 0 50vh 0 50vh; */
  margin-top: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* >: direct child of footer */
footer >div {
  padding: 10px;
}



#githubIconWhite {
  width: 30px;
  /* position: fixed; */
}

#linkedinIcon {
  width: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* h1, h2, h3, h4, h5, h6 {
  color: var(--secondary-color)
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
